        body{
            background-color: rgb(142, 180, 174);
        }
        header{
            background-color: darkslategray;
            padding: 30px;
                        
        }
        a{
            color: #fff;
            margin: 15px;
            text-decoration: none;
        }
        main{
            color: #fff;
            
        }
        .work{
            margin-bottom: 150px;
        }
        footer{
            background-color: darkslategray;
            border-top-left-radius: 50px;
            padding: 10px;
        }
        .footer{
            display: flex;
            justify-content: space-between;
            color: #fff;
        }
        .copyright{
            color: #fff;
            text-align: center;
        }
        .about{
            margin-bottom: 50px;
        }
        .resume{
            margin-top: 120px;
        }
        .contact{
            margin-top: 150px;
        }
        